<section id="intro" class="container">
  <div class="row">
    <div class="4u">
      <a href="https://github.com/geodashio"><section class="first">
        <i class="icon featured fa-users"></i>
        <header><h2>Open Source Software</h2></header>
        <p>Developing in the open from Day 1.  Open source to the core.</p>
      </section></a>
    </div>
    <div class="4u">
      <a href="{{ site.baseurl }}/about"><section class="middle">
        <i class="icon featured alt fa-exchange"></i>
        <header><h2>Interoperability</h2></header>
        <p>Leverages open standards to enable interoperability.</p>
      </section></a>
    </div>
    <div class="4u">
      <a href="{{ site.baseurl }}/tech"><section class="last">
        <i class="icon featured alt2 fa-refresh"></i>
        <header><h2>Modern GIS</h2></header>
        <p>Integrating the latest advances in open source GIS, including OpenLayers 3, Tegola, and much more.</p>
      </section></a>
    </div>
  </div>
  <footer>
    <div id="summary-section"></div>
    <ul class="actions">
      <li><a href="{{ site.baseurl }}/about" class="button alt big" id="about-button">Learn More</a></li>
      <li><a target="_blank" href="http://demo.geodash.io" class="button alt2 big" id="about-button">Demo</a></li>
    </ul>
  </footer>
</section>
